.btn {
  font-size: 1rem;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 24/16*1rem;
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  &-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    &-lg {
      @extend .btn-group;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  &-block {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    &-sm {
      @extend .btn-block;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  &-light {
    background-color: #fff;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color: #0000, $alpha: 0.1);
    }
  }
  &-secondary {
    $color: #6c757d;
    background-color: $color;
    color: white;
    transition: all 0.3s;
    &:hover {
      background-color: rgba($color: $color, $alpha: 0.8);
    }
  }

  &-primary {
    @extend .btn-secondary;
    background-color: royalblue;
    &:hover {
      background-color: rgba($color: royalblue, $alpha: 0.8);
    }
  }
}