$text-color: #1b1b1b;
$border-color: #7c7c7c;
$text-color-light: #adadad;
$primary-color: #5865f2;
$white-color: #fff;
$light-color: rgb(240, 240, 240);
$link-color: #3c8fd3;
$secondary-color: #6c757d;
$bg-dark-color : #36393f;
$dark-color: #2f3136;
$dark-light-color: rgba($color: #36393f, $alpha: 0.6);
$modal-color: rgba($color: #36393f, $alpha: 0.5);
$danger-color: rgb(196, 67, 67);